#slider{
    width:300px;
    margin:auto;
    text-align:center;
    justify-content: center;
    display: flex;
    margin-top: 200px;
    padding:20px;
  
   
}
#Action{
    margin-top:20px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 40px;
    gap: 10px;
   
}